.side-bar {
  box-sizing: border-box;
  color: $white;
  min-width: 300px;
  .side-bar-header {
    background-color: #253141;
    font-size:16px;
    height: 100%;
    width: 260px;
    max-height: 100px;
    line-height: 100px;
    padding: 0 20px;
    .side-bar-header__name {
      display: inline-block;
      font-weight: bold;
    }
    .side-bar-header__lists{
      display: inline-block;
      float: right;
      .list {
        display: inline-block;
      }
      .icon {
        color: #fff;
      }
    }
  }
  .groups {
    overflow: auto;
    background-color: $side_blue_light;
    height: 100%;
    min-height: 700px;
    min-width: 260px;
    padding: 0 20px;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      .group__name {
        color: #fff;
        font-size: 15px;
      }
      .group__message {
        color: #fff;
        font-size: 11px;
        margin-top: 5px;
      }
    }
  }

}
