.chat {
  // width: calc(100% - 300px);
  .header {
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    max-width: 1150px;
    padding: 0 40px;
    .left-header {
      float: left;
      .left-header__title {
        color: #333;
        font-size: 20px;
        margin-top: 35px;
      }
      .left-header__members {
        color: $light_gray;
        font-size: 12px;
        margin-top: 15px;
        display: inline-block;
        .member {
          padding-right: 5px;
        }
      }
    }
    .right-header {
      border: 1px solid $light_blue;
      color: $light_blue;
      float: right;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      .right-header__button {
        color: $light_blue;
      }
    }
  }

  .messages {
    background-color: #FAFAFA;
    padding: 46px 40px 0;
    margin-bottom: 90px;
    height: 100%;
    overflow: auto;
    font-weight: bold;
      .message {
        display: flex;
        .message__user-namee {
          color: $black;
        }
        .message__date {
          color: $light_gray;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .meesage__content {
        margin-top: 10px;
        .message__text {
          color: $black;
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
    }
  }

  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    position: fixed;
    width: 80%;
    .form__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    .form__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      .form__mask__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    .form__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }

