// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper{
  display: flex;
    .side-bar{
      box-sizing: border-box;
      color: #fff;
      width: 300px;
          &__header{
          background-color: #253141;
          line-height: 100px;
          padding: 0 20px;
            &__name {
              display: inline-block;
              font-size: 16px;
              font-weight: bold;
            }
          }

          .side-bar__groups{
              background-color:#2f3e51;
              height: calc(100vh - 100px);
                .side-bar__groups__group{
                  padding: 20 0 40px;
                }
          }
      }

    .chat{
      height: auto;
      max-width: auto;
      padding:0 40px;
      .chat-header{
        background:#FFF;

        .chat-header{
          .chat-header__title{
            color:#333;
            font-size: 20px;
          }
          .chat-header__members{
            color: #999;
            font-size: 12px;
            .member{
              width: 150px;
                ul{
                  li{
                    display:inline;
                  }
                }
            }
          }
        }
      }
    }
}


