!!!
%html
%head
%meta{:content =>'text/html', :charset => 'UTF-8', :http-equiv=>'Content-Type'}
%title="ChatSpace"
%meta{:name =>"csrf-param", :content => "authenticity_token"}
%meta{:name => "csrf-token", :content => "O4eiRvLHyDXThBOz9tUeuLJHzNu3UQZCuT7NLIEeT9Rk3LvYrq+j831LwrKC96BiMnw60hln3E0OiC0Pup0bbQ=="}
%link{:rel => "stylesheet", :media => "all", :href => "/assets/stylesheets/messages.scss"}
%script{src:"/javascripts/application.js"}
%body
  %div{class:"notification"}

  %div{class:"wrapper"}
    %div{class:'side-bar'}
      %div{class:'side-bar__header'}
        %h3{class:'side-bar__header__name'}
          yama1
          / %a{class:"chat-side__user--new-group",href:"/groups/new"}
          / %i{class:'fa fa-pencil-square-o'}
          / %a{class:"chat-side__user--edit-user",href:"/users/edit"}
          / %i{class:'fa fa-cog'}
      %div{class:'side-bar__groups'}
        %h3{class:'side-bar__groups__group'}
          group1

    %div{class:'chat'}
      %div{class:'chat-header'}
        %div{class:'chat-header'}
          %div{class:'chat-header__title'}
            test1
          %div{class:'chat-header__members'}
            %ul
              %li{class:'member'}メンバー1
              %li{class:'member'}メンバー2
              %li{class:'member'}メンバー３



